# Configuración Base de Datos
DATABASE_URL=postgresql://user:password@host:5432/kbeca

# Secretos de Seguridad
REVALIDATION_SECRET=tu-secret-aqui

# APIs Externas
GEMINI_API_KEY1=tu-gemini-api-key
GEMINI_API_KEY2=tu-gemini-api-key-2

# Configuración de Entorno Local
NEXT_PUBLIC_URL=http://localhost:3000
